<%= render 'search', path: product_images_path %>

<table class="table table-striped table-bordered table-condensed management">
  <thead>
    <tr>
      <th>产品编号</th>
      <th>等级</th>
      <th>分类</th>
      <th>名称</th>
      <th>规格</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <% @skus.each do |sku| %>
      <tr data-id="<%= sku.id %>">
        <td><%= sku.product&.product_no %></td>
        <td><%= sku.level_text %></td>
        <td><%= sku.product&.product_category&.name %></td>
        <td><%= sku.product&.name %></td>
        <td><%= sku.product&.spec %></td>
        <td>
          <span class="btn btn-link edit">编辑</span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @skus %>

<%= render 'form' %>
